<html>
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
    <body>
		{% if controlint == 3 %}
			<a href="/jobs" class="butmain">Jobs</a>
			</br>
			<a href="/interviews" class="butmain">Inteviews</a>
		{% else %}
			{% if linklistOutput %}
			{% load link_tags %}
				<ul>
					{% for link in linklistOutput %}
					<div>
						{% if controlint == 0 %}
						<div>
							<img src="{% get_name link %}" class="beside"> {{ link | safe }}
						</div>
						{% else %}
							{{ link | safe }}
						{% endif %}
						{% if controlint == 0 %}
							<div>
								{% autoescape off %}
									{% get_links link requests %}
								{% endautoescape %}
							</div>
						{% endif %}
					</div>
					{% endfor %}
				</ul>
			{% else %}
				<p>No jobs on moodle</p>
			{% endif %}
		{% endif %}
    </body>
</html>