<html>
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
    <body>
		{% if controlint == 3 %}
			<a href="/jobs" class="butmain">Jobs</a>
			</br>
			<a href="/interviews" class="butmain">Inteviews</a>
		{% else %}
			{% if linklistOutput %}
			{% load link_tags %}
				<div>
					{% for link in linklistOutput %}
					<div class = "container-fluid card">
						<div class="row">
							{% if controlint == 0 %}
							<div class="col-sm-2">
								<img src="{% get_name link %}" alt="{% split_link link 3 %}">
							</div>
							<div class="col-sm-8">
								<h><b>{% split_link link 0 %}</b></h3>
								{% if controlint == 1 %}
									<div>
										{% autoescape off %}
											{% get_links link requests %}
										{% endautoescape %}
									</div>
								{% endif %}
							</div>
							<div class="col-sm-2">
								<a href="{% split_link link 0 %}" class="but">Submit link</a>
							</div>
							{% else %}
								<div style=" margin-left: 20px;">
									{{ link | safe }}
								</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			{% else %}
				<p>No jobs on moodle</p>
			{% endif %}
		{% endif %}
    </body>
</html>

<div class="container-fluid">
		<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-3">
			<p id="stock_date"/> 
		</div>
		<div class="col-sm-3">
			<p id="stock_price"/> 
		</div>      
		<div class="col-sm-3">
			<p id="stock_market"/> 
		</div>      
		<div class="col-sm-1">
		</div>
		</div>
	</div>