p {
  font-size: 110%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.but:link, .but:visited, .but:hover, .but:active {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.butmain:link, .butmain:visited, .butmain:hover, .butmain:active {
  background-color: black;
  font-size: 140%;
  color: white;
  padding: 25px 20px;
  margin: 10px 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

img{
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.card {
	background-color: #555555;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 30px;
	margin-top: 10px;
    margin-bottom: 10px;
	margin-left: 20px;
    margin-right: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div {
  text-align: center;
}